---
import Page from "../layouts/Page.astro";
import Card from "../layouts/Card.astro";

// Use Astro.glob() to fetch all posts, and then sort them by date.
const posts = (await Astro.glob("./articles/*.{md,mdx}")).sort(
  (a, b) =>
    new Date(b.frontmatter.pubDate).valueOf() -
    new Date(a.frontmatter.pubDate).valueOf()
);
---

<Page title="Articles">
  <section class="pt-10">
    <ul>
      <div
        class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 p-4"
      >
        {
          posts.map((post) => (
            <a
              class="text-gray-200 text-lg font-sans font-semibold visited:text-teal-500"
              href={post.url}
            >
              <Card className="flex flex-col p-4 h-24">
                {post.frontmatter.title}
                <p1
                  class="text-gray-300 text-md font-sans font-normal"
                  datetime={post.frontmatter.pubDate}
                >
                  {new Date(post.frontmatter.pubDate).toLocaleDateString(
                    "en-us",
                    {
                      year: "numeric",
                      month: "short",
                      day: "numeric",
                    }
                  )}
                </p1>
              </Card>
            </a>
          ))
        }
      </div>
    </ul>
  </section>
</Page>
