---
import Page from "../layouts/Page.astro";
import Project from "../layouts/Project.astro";
---

<Page title="Code">
  {/* Showcase */}
  <section class="flex flex-col items-center justify-center">
    <div class="flex flex-row flex-wrap items-center justify-center p-5">
      <Project
        title="Archive"
        description="A highly personalizable, AI-powered journaling app that allows users to record their thoughts, feelings, and memories. Archive uses natural language processing to analyze logs and provide insights on their sentiments. It also features full-text search over entries, allowing users to access their logs quickly and easily."
        image="src/images/archive-side-logo.png"
        link="https://archiveapp.io"
        linkText="archiveapp.io"
        buttonLink="https://apps.apple.com/us/app/archive-ai-powered-journaling/id1615879510"
        buttonLinkText="Download on the App Store"
      />
      <Project
        title="Predicting Electron Mass Using Neural Networks"
        description="This project is a neural network that takes tabular data, collected at CERN's Large Hadron Collider and made available on Kaggle, such as electron spin, position, charge, etc. of a pair of electrons as input and predicts the invariant mass of the electron pair. The best performing model achieved an RMSE of 0.4984 using a test set consisting of 15% of the data."
        image="src/images/cern-lhc.jpg"
        buttonLink="https://github.com/varunvasudeva1/cern-ec"
        buttonLinkText="View on GitHub"
      />
    </div>
  </section>
</Page>
