---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Switcher from "../components/Switcher";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body
    class="flex flex-col justify-center items-center w-screen h-screen bg-gray-900"
  >
    <Switcher />
    <Footer />
  </body>
</html>
