---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Switcher from "../components/Switcher";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
---

<!DOCTYPE html>
<html lang="en">
  <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  <body class="flex flex-col justify-center items-center bg-slate-950">
    <div class="h-screen w-screen">
        <Switcher />
    </div>
    <Footer />
  </body>
</html>
