---
import BaseHead from "../components/BaseHead.astro";
import NavBar from "../components/NavBar.astro";
import Footer from "../components/Footer.astro";
import Switcher from "../components/Switcher";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
import Code from "../components/Code";
import Music from "../components/Music";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="bg-gray-900">
    <NavBar />
    <main class="flex flex-col items-flex-start justify-center">
      <Switcher client:load />
    </main>
    <div class="mt-10">
      <Code client:load />
      <Music client:load />
    </div>
    <Footer />
  </body>
</html>
