---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Switcher from "../components/Switcher";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
---

<!DOCTYPE html>
<html lang="en">
  <script>
    import * as THREE from "three";

    const scene = new THREE.Scene();
    const camera = new THREE.PerspectiveCamera(
      75,
      window.innerWidth / window.innerHeight,
      0.1,
      1000
    );

    const renderer = new THREE.WebGLRenderer();
    const container = document.getElementById("container");
    renderer.setSize(window.innerWidth, window.innerHeight);
    container?.appendChild(renderer.domElement);

    // Add code for an infinite grid whose camera moves with the mouse hover

    const geometry = new THREE.TorusGeometry(10, 3, 16, 100);
    const material = new THREE.LineDashedMaterial({
      color: 0xffffff,
      dashSize: 3,
      gapSize: 1,
    });
    const torus = new THREE.Line(geometry, material);
    torus.computeLineDistances();
    scene.add(torus);

    camera.position.z = 5;
    camera.position.y = 5;

    const animate = function () {
      requestAnimationFrame(animate);

      // Rotate the torus such that it looks like it's spinning on the z-axis
      torus.rotation.x += 0.01;
      torus.rotation.y += 0.01;

      renderer.render(scene, camera);
    };

    animate();
  </script>

  <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />

  <body
    class="flex flex-col justify-center items-center w-screen h-screen bg-gray-900"
  >
    <div id="container" class="absolute top- left-0 -z-10"></div>
    <Switcher />
    <Footer />
  </body>
</html>
