---
import Card from "../layouts/Card.astro";
import Page from "../layouts/Page.astro";
---

<Page title="Music">
  <section class="flex flex-col items-center justify-center mx-5">
    <Card className="flex flex-col items-center justify-center p-4 max-w-3xl">
      <img
        src="/images/the-emergent.jpg"
        alt="The Emergent"
        class="rounded-full size-36 lg:size-44 mb-4 border-2 border-black shadow-[4px_4px_0px_0px_rgba(0,0,0,1)] hover:cursor-pointer hover:bg-opacity-80 transition-all duration-300 ease-in-out transform"
      />
      <p class="text-stone-700 text-lg lg:text-xl mb-5">
        I started writing, producing, and recording songs when I was 16 years
        old. I release music both under my own name and under the stage name <span
          class="font-bold text-black">The Emergent</span
        >.
      </p>
    </Card>

    <section
      class="flex flex-col items-center justify-center gap-4 lg:gap-8 my-6 lg:my-10 w-full"
    >
      <section class="flex flex-col items-center w-full gap-2">
        <h2
          class="text-stone-800 text-xl lg:text-2xl xl:text-3xl font-semibold"
        >
          The Emergent
        </h2>
        <div
          class="flex flex-col w-full md:w-3/4 lg:w-1/2 aspect-video items-center"
        >
          <iframe
            class="w-full h-full"
            src="https://www.youtube-nocookie.com/embed/bUH0WwoX6C4"
            title="YouTube video player"
            allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
        </div>
      </section>

      <section class="flex flex-col items-center w-full gap-2">
        <h2
          class="text-stone-800 text-xl lg:text-2xl xl:text-3xl font-semibold"
        >
          Varun Vasudeva
        </h2>
        <div
          class="flex flex-col w-full md:w-3/4 lg:w-1/2 aspect-video items-center"
        >
          <iframe
            class="w-full h-full"
            src="https://www.youtube-nocookie.com/embed/IjcmVtCmrgE"
            title="YouTube video player"
            allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
        </div>
        <div
          class="flex flex-col w-full md:w-3/4 lg:w-1/2 aspect-video items-center"
        >
          <iframe
            class="w-full h-full"
            src="https://www.youtube-nocookie.com/embed/APgxhr7A_84"
            title="YouTube video player"
            allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
        </div>
        <div
          class="flex flex-col w-full md:w-3/4 lg:w-1/2 aspect-video items-center"
        >
          <iframe
            class="w-full h-full"
            src="https://www.youtube-nocookie.com/embed/N5jxCNMGR6Y"
            title="YouTube video player"
            allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
        </div>
      </section>
    </section>
  </section>
</Page>
