---
import HeaderLink from "./HeaderLink.astro";
---

<header>
  <nav>
    <HeaderLink href="/">Home</HeaderLink>
    <HeaderLink href="/code">Code</HeaderLink>
    <HeaderLink href="/music">Music</HeaderLink>
    <HeaderLink href="/articles">Articles</HeaderLink>
  </nav>
</header>
<style>
  header {
    margin: 0em 0 2em;
  }
  h2 {
    margin: 0.5em 0;
  }
</style>
