---
import { FaGithub, FaLinkedin } from "react-icons/fa/index";
import { IoMdMail } from "react-icons/io/index";
import HeaderLink from "./HeaderLink.astro";
import { HeaderMenu } from "./HeaderMenu";

const { title }: { title?: string } = Astro.props;

const backgroundColor =
  title === "Home"
    ? "transparent"
    : title === "Code"
    ? "bg-orange-800"
    : title === "Music"
    ? "bg-pink-800"
    : title === "Articles"
    ? "bg-teal-800"
    : "transparent";
---

<header
  class="fixed top-0 left-0 right-0 flex flex-row items-center justify-between p-4 z-50 bg-slate-950 shadow-lg"
>
  <h1 class="text-xl lg:text-2xl font-bold flex-grow">
    <a href="/" class="text-white">Varun Vasudeva</a>
  </h1>

  <HeaderMenu client:load />

  <nav
    class="hidden sm:flex flex-row items-center justify-center mr-2 max-w-sm"
  >
    <HeaderLink href="/">Home</HeaderLink>
    <HeaderLink href="/code">Code</HeaderLink>
    <HeaderLink href="/music">Music</HeaderLink>
    <HeaderLink href="/articles">Articles</HeaderLink>
  </nav>

  <div
    class=`hidden sm:flex flex-row items-center justify-end p-1 rounded-full ${backgroundColor}`
  >
    <a
      href="https://github.com/varunvasudeva1"
      target="_blank"
      rel="noopener noreferrer"
    >
      <FaGithub
        className="text-white hover:text-opacity-70 text-xl lg:text-2xl mx-1 lg:mx-2"
      />
    </a>
    <a
      href="https://www.linkedin.com/in/varunvasudeva1/"
      target="_blank"
      rel="noopener noreferrer"
    >
      <FaLinkedin
        className="text-white hover:text-opacity-70 text-xl lg:text-2xl mx-1 lg:mx-2"
      />
    </a>
    <IoMdMail
      className="text-white hover:text-opacity-70 text-xl lg:text-2xl mx-1 lg:mx-2"
    />
  </div>
</header>
