---
title: "Card";
description: "A Card component for displaying content in a card-like format.";

const {
  className,
}: {
  className?: string;
} = Astro.props;
---

<div
  class={`flex backdrop-blur-lg bg-zinc-800 bg-opacity-60 rounded-xl shadow-xl ${className}`}
>
  <slot />
</div>
