---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import NavBar from "../components/NavBar.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";

const { title }: { title?: string } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="bg-gray-900">
    <NavBar />
    <main>
      <h1 class="font-sans font-bold text-white my-5 text-4xl sm:text-5xl">
        {title ? title : ""}
      </h1>
      <slot />
      <Footer />
    </main>
  </body>
</html>
