---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import NavBar from "../components/NavBar.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";

const { title }: { title?: string } = Astro.props;
const background =
  title === "Home"
    ? "images/home.jpg"
    : title === "Code"
    ? "images/code.jpg"
    : title === "Music"
    ? "images/music.jpg"
    : title === "Articles"
    ? "images/articles.jpg"
    : "images/home.jpg";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="bg-slate-950">
    <img
      src={background}
      alt={title ? title : "" + " background"}
      class="fixed -z-20 inset-0 w-screen h-screen object-cover"
    />
    <div
      class="fixed -z-10 inset-0 w-screen h-screen object-cover backdrop-blur-md bg-black bg-opacity-10"
    >
    </div>
    <NavBar />
    <main class="pt-20">
      <slot />
      <Footer />
    </main>
  </body>
</html>
